<ion-buttons end>
  <button ion-button>
    <img class="button-logo" src="assets/img/icon-home.png">
    <!-- <div class="alertas" *ngIf="cantAlert > 0">{{cantAlert}}</div> -->
  </button>
</ion-buttons>