bt-logo {
    .alertas { position: absolute; top: -3px; left: -3px; font-size: 13px; border-radius: 50%; width: 22px; height: 22px; display: flex; align-items: center; justify-content: center; background-color: #EE2626; color: #fff;}
}