page-logros {
    .listLogros { padding: 16px 0;}
    .listLogros ion-row { border-bottom: 1px solid #E0E0E0; margin-bottom: 20px; padding-bottom: 12px;}
    .listLogros ion-row ion-col { padding: 0;}
    .listLogros ion-row h2 { font-size: 16px; margin: 0 0 4px; font-weight: 400;}
    .listLogros ion-row p { font-size: 14px; margin: 0;}
    // .listLogros ion-col div { color: #428bca; width: 100%; height: 100%; font-size: 60px; display: flex; align-items: center; justify-content: center;}
    .listLogros .icon { width: 18vw; height: 18vw; float: right; background-repeat: no-repeat;}
    .listLogros .icon.health { background-image: url(../../assets/img/logros-health.svg);}
    .listLogros .icon.life { background-image: url(../../assets/img/logros-life-quality.svg);}
    .listLogros .icon.environment { background-image: url(../../assets/img/logros-natural-environment.svg);}
}
