<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Logros</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding>
  <ion-grid [hidden]="!showLogros" class="listLogros">
    <ion-row *ngFor="let item of logros">
      <ion-col col-12>
        <h2>{{item.TITULO}}</h2>
        <p>{{item.LOGRO}}</p>
      </ion-col>
      <!-- <ion-col col-3>
        <div class="icon {{item.Categoria}}"></div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <!--<h2 [hidden]="!showLogros">logros!</h2>-->
  <h2 [hidden]="showLogros">Aún no has desbloqueado tus logros!</h2>
</ion-content>