alerta {
    .content {
        background-color: #EC5442;
        color: #ffffff;
        padding: 2.6vw 6vw;
        display: flex;
        align-items: center;
    }
    .content ion-icon { font-size: 6vw; margin-right: 4vw;}
    .content span { font-size: 4vw;}
}
