<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Glosario</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>


<ion-content padding>
  <dl *ngFor="let item of glosario">
    <dt>{{ item.Palabra }}</dt>
    <dd>{{ item.Definicion }}</dd>
  </dl>
</ion-content>
