<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reportes</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding class="reportes">
  <!-- <ion-row>
    <ion-col>
      <h2>Calidad de Combustión</h2>
      <img src="assets/img/graf-combustion.png" />
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col>
      <h2>Oxígeno (O)</h2>
      <ion-icon [hidden]="showGrafico" name="trending-up"></ion-icon>
      <canvas #lineCanvasO [hidden]="!showGrafico"></canvas>
    </ion-col>
  </ion-row>
  <br />
  <ion-row>
    <ion-col>
      <h2>Temperatura (°C)</h2>
      <ion-icon [hidden]="showGrafico" name="trending-up"></ion-icon>
      <canvas #lineCanvasT [hidden]="!showGrafico"></canvas>
    </ion-col>
  </ion-row>
  <br />
  <ion-row>
    <ion-col>
      <h2>Monóxido de Carbono (CO)</h2>
      <ion-icon [hidden]="showGrafico" name="trending-up"></ion-icon>
      <canvas #lineCanvasCO [hidden]="!showGrafico"></canvas>
    </ion-col>
  </ion-row>
  <br />
  <ion-row>
    <ion-col>
      <h2>Material Particulado (MP) 2,5</h2>
      <ion-icon [hidden]="showGrafico" name="trending-up"></ion-icon>
      <canvas #lineCanvasMP [hidden]="!showGrafico"></canvas>
    </ion-col>
  </ion-row>
</ion-content>