﻿
@{
    ViewBag.Title = "Index";
}

<h2>Servicios de Autenticación</h2>

<ul>
    <li>@Html.ActionLink("Login Usuario", "Login", "Test", new { area = "" }, null)</li>

    <li>@Html.ActionLink("Registrar Usuario", "Registro", "Test", new { area = "" }, null)</li>
</ul>

