﻿@model Economiza.Servicios.Models.LoginBindingModel
@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Login", "Test", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*@Html.EnableClientValidation(true)*@
    <h4>Crear una cuenta nueva.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<input type="submit" class="btn btn-default" value="Registrar" />*@
            <input type="button" onclick="validar()" value="Login" />
        </div>
    </div>
}

<div>
    Token: <span class="label label-success lblToken"></span>
</div>
<br />
<br />
<div>
    <p>Id: <span class="label label-success lblId"></span></p>
    <p>Nombre: <span class="label label-success lblNombre"></span></p>
</div>

<script type="text/javascript">
    function validar() {
        if ($('form').valid()) {
            $('div.validation-summary-errors ul').text('');
            login();
        }
    };

    function login() {
        var loginData = {
            grant_type: "password",
            username: $('#Email').val(),
            password: $('#Password').val(),
        };

        $.ajax({
            type: "Post",
            traditional: true,
            url: '../Token',
            //contentType: "application/json; charset=utf-8",
            data: loginData,
            beforeSend: function (xhr, settings) { xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); },
            success: function (results) {
                console.log('token:  ' + results.access_token);
                $('.lblToken').text(results.access_token);

                $.ajax({
                    type: "Get",
                    traditional: true,
                    url: '../ApiUsuarios/ObtenerUsuario?id=' + $('#Email').val(),
                    beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + results.access_token); },
                    success: function (results) {
                        console.log(results);
                        $('.lblId').text(results.Id);
                        $('.lblNombre').text(results.DisplayName);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}