<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacto</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding>
  <div class="listContact">
    <ion-card margin-top *ngIf="!showForm">
      <ion-card-header>ECOnomiza</ion-card-header>
      <ion-card-content> Gracias por contactarnos, le responderemos en breve.</ion-card-content>
    </ion-card>
    <form *ngIf="showForm" [formGroup]="emailForm" class="no-margin" (ngSubmit)="emailForm.valid && onSubmitEmail()" novalidate>
      <h3>Puede enviarnos un mensaje a través del siguiente formulario:</h3>
      <div *ngIf="actionError" class="failed-color" style="display: flex; justify-content: center;">
        {{ actionErrorMsg }}
      </div><br />
      <ion-item>
        <ion-label stacked>Asunto</ion-label>
        <ion-input type="text" formControlName="asunto"></ion-input>
      </ion-item>
      <div *ngIf="formEmailErrors.asunto" class="alert alert-danger" [innerHTML]="formEmailErrors.asunto"></div>
      <ion-item>
        <ion-label stacked>Mensaje / Consulta</ion-label>
        <ion-textarea formControlName="mensaje"></ion-textarea>
      </ion-item>
      <div *ngIf="formEmailErrors.mensaje" class="alert alert-danger" [innerHTML]="formEmailErrors.mensaje"></div>
      <div padding-top text-center>
        <button margin-top ion-button block (click)="onEmailValueChanged()" [attr.disabled]="!loading ? null : true">Enviar</button>
      </div>
    </form>
  </div>
</ion-content>