page-contacto {
    .listContact { padding: 12% 0 0;}
    .listContact .numeros h2 { font-size: 18px; font-weight: 400;}
    .listContact .numeros span { font-size: 14px; color: #777; display: block; margin: 4px 16px 0;}
    .listContact form { padding: 0;}
    .listContact form h3 { font-size: 16px; font-weight: 400;}
    .listContact form .item-md { padding-left: 0;}
}
