<ion-header>
    <ion-navbar>
        <button ion-button menuToggle *ngIf="showBtMenu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Bienvenido</ion-title>
        <ion-buttons end *ngIf="showBtHome">
            <bt-logo></bt-logo>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="login">
    <ion-row>
        <ion-col col-10 offset-1 padding-top padding-bottom>
            <form *ngIf="mostrarForm" [formGroup]="loginForm" class="no-margin" (ngSubmit)="loginForm.valid && onSubmitLogin()" novalidate>
                <div *ngIf="actionError" class="failed-color" style="display: flex; justify-content: center;">
                    {{ actionErrorMsg }}
                </div><br />
                <ion-row>
                    <ion-col padding-bottom>
                        <ion-item>
                            <ion-label stacked>Usuario</ion-label>
                            <ion-input type="email" formControlName="user"></ion-input>
                        </ion-item>
                        <div *ngIf="formLoginErrors.user" class="alert alert-danger" [innerHTML]="formLoginErrors.user"></div>
                        <ion-item>
                            <ion-label stacked>Contraseña</ion-label>
                            <ion-input type="{{typePass}}" formControlName="password"></ion-input>
                            <button ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon *ngIf="!showPass" name="eye"> </ion-icon> <ion-icon *ngIf="showPass" name="eye-off"> </ion-icon></button>
                        </ion-item>
                        <div *ngIf="formLoginErrors.password" class="alert alert-danger" [innerHTML]="formLoginErrors.password"></div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col padding-top text-center>
                        <button (click)="onLoginValueChanged()" [attr.disabled]="!loading ? null : true" ion-button block>Entrar</button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-col>
    </ion-row>
</ion-content>