page-combustion {
    ul { display: flex; margin: 0; list-style: none; padding: 1vw 0; justify-content: center; align-items: center; background-color: rgba(228, 214, 214, 0.3);}
    ul li { text-align: center; flex-grow: 1; font-weight: 300; padding: 1vw; border-right: 1px solid rgba(255, 255, 255, 0.6);}
    ul li:last-child { border: none;}
    ul li span { display: block;}

    .ion-ios-thumbs-down { color: red }
    .ion-ios-thumbs-up { color: green }

    .grafCombustion h1 {
        font-size: 30px;
        text-align: center;
    }
}
