<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calidad de combustión</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding>
  <ion-row class="grafCombustion">
    <ion-col col-10 offset-1>
      <p>Los siguientes datos son extraídos directamente del sistema de sensores de tu estufa.</p>
    </ion-col>
  </ion-row>
  <ion-row class="grafCombustion">
    <ion-col col-10 offset-1>
      <h3>Calidad de Combustión</h3>
      <!-- <div id="chartCombustion"></div> -->
      <h1>
        <ion-icon id="iconCalidadCombustion" name="ios-time"></ion-icon>
        <span id="msgCalidadCombustion"></span>
      </h1>
    </ion-col>
  </ion-row>
  <br />
  <ion-row class="grafCombustion">
    <ion-col col-10 offset-1>
      <h3>Oxígeno (O)</h3>
      <div id="chartOxigeno"></div>
    </ion-col>
  </ion-row>
  <br />
  <br />
  <ul>
    <li>
      <h3>Monóxido de Carbono (CO)</h3>
      <ul>
        <li>
          <span class="uno">Con Filtro</span>
          <span class="dos">
            <span id="chartCO_CF"></span>
          </span>
        </li>
        <li>
          <span class="uno">Sin Filtro</span>
          <span class="dos">
            <span id="chartCO_SF"></span>
          </span>
        </li>
      </ul>
    </li>
  </ul>
  <br />
  <br />
  <ul>
    <li>
      <h3>Material Particulado (MP) 2,5</h3>
      <ul>
        <li>
          <span class="uno">Con Filtro</span>
          <span class="dos">
            <span id="chartMP_CF"></span>
          </span>
        </li>
        <li>
          <span class="uno">Sin Filtro</span>
          <span class="dos">
            <span id="chartMP_SF"></span>
          </span>
        </li>
      </ul>
    </li>
  </ul>

  <!-- <ion-row class="grafHome">
    <ion-col>
      <h3>Monóxido de Carbono (CO)</h3>
      <div id="chartCO_CF"></div>
      <h4>C/Filtro</h4>
    </ion-col>
    <ion-col>
      <h3>Material Particulado 2,5</h3>
      <div id="chartMP_CF"></div>
      <h4>C/Filtro</h4>
    </ion-col>
  </ion-row>
  <ion-row class="grafHome">
    <ion-col>
      <div id="chartCO_SF"></div>
      <h4>S/Filtro</h4>
    </ion-col>
    <ion-col>
      <div id="chartMP_SF"></div>
      <h4>S/Filtro</h4>
    </ion-col>
  </ion-row> -->
  <ion-row text-center padding-top>
    <ion-col>
      <button ion-button small clear (click)="goReportes()">Ver reportes</button>
    </ion-col>
  </ion-row>
</ion-content>