page-tutorial {
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }
  .slide-zoom {
    height: 100%;
  }

.tutorial .toolbar h2 {
  font-size: 2.2rem;
  padding: 1rem 0 1rem;
  margin-bottom: 0;
}
.slide-title {
  margin-top: 0rem;
  font-size: 2rem;
}
  .slide-image {
    max-height: 50%;
    max-width: 45%;
    margin: 10px 0;
  }
  b {
    font-weight: 500;
  }
  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;
    b {
      color: #000000;
    }
  }
}
