<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mantención del filtro</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding class="tutorial">
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <!--<h2>¿Cómo debo mantener mi filtro?</h2>-->
        <h2 [innerHTML]="slide.title"></h2>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image" />
      <h3 class="slide-title" [innerHTML]="slide.subtitle"></h3>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
  </ion-slides>
</ion-content>
