<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="showBtMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recomendaciones y datos</ion-title>
    <ion-buttons end *ngIf="showBtHome">
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding>
    <ion-slides pager paginationType="fraction" (ionSlideWillChange)="tipCambia()" (ionSlideDidChange)="tipCambio()">
    <ion-slide *ngFor="let item of tips">
      <ion-toolbar>
        <ion-buttons end *ngIf="showBtNoMore">
          <button ion-button color="primary" (click)="noMostrarMas()">No mostrar al inicio</button>
        </ion-buttons>
      </ion-toolbar>
      <img src="assets/img/slide-7.png" class="slide-image"/>
      <p [innerHTML]="item.Descripcion"></p>
      <button ion-button clear color="primary" *ngIf="showBtNoMore" (click)="goHome()">Continuar</button>
    </ion-slide>
  </ion-slides>
</ion-content>