<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Acerca de...</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding class="about">
  <img class="logo" src="assets/img/logo-economiza.png">
  <ion-row>
    <ion-col col-10 offset-1 text-center>
      <h2>Versión 1.0.023</h2>
      <p>Economiza es una aplicación que te permite cuidar la salud y el medio ambiente de tu ciudad optimizando el consumo
        de la leña.</p>
    </ion-col>
  </ion-row>
  <ion-row class="links">
    <ion-col col-10 offset-1>
      <h2 text-center>Links de interés</h2>
      <ul>
        <li>
          <h3>Comunidad</h3>
          <p>Interactúa con tus vecinos y conoces las mejores prácticas del uso de Economiza.</p>
          <span (click)="launch('https://economiza.discoover.net/')">Foro Comunidad</span>
        </li>
        <li>
          <h3>Proveedores certificados de leña</h3>
          <p>Te compartimos la lista con los proveedores de leña certificados por las autoridades de Los Lagos.</p>
          <span (click)="launch('http://lena.cl/comerciantes-certificados-region-de-los-lagos/')">leña.cl</span> -
          <span (click)="launch('http://www.pdao.cl/listado-leneria')">www.pdao.cl</span>
        </li>
        <li>
          <h3>Calidad del aire</h3>
          <p>Ingresa y revisa la información oficial sobre el estado de la calidad del aire entregada por el Ministerio de Medio
            Ambiente.
          </p>
          <span (click)="launch('http://aqicn.org/city/chile/osorno/es/')">aqicn.org</span> -
          <span (click)="launch('http://www.pdao.cl/monitoreo-calidad-de-aire')">www.pdao.cl</span>
        </li>
      </ul>
    </ion-col>
  </ion-row>
</ion-content>