﻿<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
<div id="chart"></div>
<script>
            var pubnub = new PubNub({
                publishKey: 'pub-c-56a38c54-26de-4c6a-99d2-9cb7b7e3db29', // replace with your own pub-key
                subscribeKey: 'sub-c-cda52064-6758-11e7-9bf2-0619f8945a4f' // replace with your own sub-key
            });

            eon.chart({
                pubnub: pubnub,
                channels: ['265001'],
                generate: {
                    bindto: '#chart',
                    data: {
                        type: 'gauge',
                    },
                    gauge: {
                        min: 0,
                        max: 100
                    },
                    color: {
                        pattern: ['#FF0000', '#F6C600', '#60B044'],
                        threshold: {
                            values: [30, 60, 90]
                        }
                    }
                },
                transform: function (data) {

                    console.log("Oxygen value: " + data);

                    return {
                        eon: {
                            'data': parseFloat(data)
                        }
                    };
                }
            });
</script>
