<ion-menu [content]="content" [swipeEnabled]="(userAutenticado | async)" class="menuApp">
  <ion-header>
    <img class="logo-menu" src="assets/img/logo-economiza.png">
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <div *ngFor="let p of pages" class="itemMenu {{p.divider}}">
        <button menuClose ion-item (click)="openPage(p)">
          <ion-icon name='{{p.icon}}' item-start></ion-icon>
          {{p.title}}
        </button>
      </div>
      <div class="itemMenu">
        <button menuClose ion-item (click)="logout()">
          <ion-icon name='log-out' item-start></ion-icon>
          Cerrar Sesión
        </button>
      </div>
    </ion-list>
    <!-- <span id="spanFiredStatus" firedStatus="1"></span>
    <button id="btnFiredStatus" (click)="setFiredStatus()">
      
    </button> -->
  </ion-content>

</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>