// http://ionicframework.com/docs/v2/theming/

p, a { color: #777;}
h1, h2, h3, h4, h5, h6 { color: #333; font-weight: normal;}
.hidden { visibility: hidden;}
.ofHidden { overflow: hidden;}
.button-inner { text-transform: capitalize;}
.button-logo { height: 100%; width: auto;}
.header-list { font-size: 18px; color: #666666; margin: 0;}
.header-list.inter { font-size: 16px; padding: 13px 0 0;}
.logo-menu { width: 70%; height: auto; margin: 30px auto 40px; display: block;}
.grid-form { padding: 0;}
.grid-form .col { padding: 5px 10px;}
.grid-form .item-md { padding: 0;}
.cardPerfil .datos { float: left;}
.cardPerfil .datos h1 { font-size: 22px;}
.cardPerfil .datos h2 { font-size: 18px; margin-top: 14px;}
.cardPerfil .image { float: right; width: 120px; height: 120px; background-color: green; display: flex; align-items: center; justify-content: center; font-size: 66px; border-radius: 4px; color: #fff;}
.cardPerfil .actions { padding: 0 16px 16px;}
.cardPerfil .actions button { font-size: 24px; padding: 0; margin: 0;}
.cardHome .iconCircle { float: left; display: flex; align-items: center; justify-content: center; border-radius: 50%; height: 60px; width: 60px; font-size: 26px; background-color: #428bca;}
.cardHome .content { display: flex; justify-content: center; flex-direction: column; padding: 0 0 0 16px; height: 60px; float: left;}
.cardHome .content .title { margin: 0 0 4px !important; font-size: 18px;}
.cardHome .content .info { margin: 0 !important; font-size: 14px;}
.grafHome { padding-top: 16px; margin-top: 30px;}
.grafHome ion-col { display: flex; justify-content: space-between; flex-direction: column;}
.grafHome h3 { font-size: 14px; text-align: center;}
.grafHome img { height: auto; width: 84%; margin: 0 auto;}
.grafHome .col .c3 { height: 70px;}

.menuApp .content-md { background-color: #FAFAFA}
.menuApp .header-md::after { height:  0;}
.menuApp .itemMenu { margin: 0 32px 0 16px;}
.menuApp .itemMenu.divider { border-bottom: 1px solid #BEBEBE;}
.menuApp .item-md { padding-left: 0; background-color: transparent;}

.login form .item-md { padding-left: 0;}

.about .logo { width: 80%; height: auto; margin: 40px auto; display: block;}
.about h2 { font-size: 18px;}
.about .links { margin: 30px 0 0;}
.about ul { list-style: none; margin: 0; padding: 0;}
.about li { margin: 0 0 20px; padding: 0 0 4px; border-bottom: 1px solid #ccc;}
.about a { text-decoration: none;}
.about h3 { font-size: 16px; padding: 0; margin: 0 0 6px;}
.about p { margin: 0; padding: 0;}

.alertas .alerta ion-icon { color: #EFB500;}
.alertas .info ion-icon { color: #007EFF;}
.alertas ion-icon { float: left; font-size: 60px; margin: 0 12px 0 0;}
.alertas .card-md h2 span { color: #777; float: right; font-size: 76%;}
.alertas .card-md p { color: #777;}

.mantencion .info { margin: 30px 0 20px;}
.mantencion h2 { font-size: 16px;}
.mantencion h2 span { font-size: 24px; display: block;}
.mantencion img { width: 50%; height: auto; max-width: 420px; display: block; margin: 30px auto;}
.tutorial h2 { font-size: 20px; padding: 50px 0 10px;}

.grafCombustion { text-align: center;}
.grafCombustion img { width: 80%; height: auto; max-width: 420px; display: block; margin: 30px auto;}

.reportes h2 { font-size: 20px;}
.reportes img { width: 94%; height: auto; max-width: 420px; display: block; margin: 4px auto 30px;}

.button:disabled {
  opacity: .3;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
