<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="showBtMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ingresar datos</ion-title>
    <ion-buttons end *ngIf="showBtHome">
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding>
  <form>
    <ion-grid class="grid-form">
      <form [formGroup]="perfilForm" class="no-margin" (ngSubmit)="perfilForm.valid && onSubmitPerfil()" novalidate>
        <ion-row>
          <ion-col>
            <p class="header-list inter">Cuenta asociada: <span>{{ perfilForm.value.email }}</span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>Nombre y apellido</ion-label>
              <ion-input type="text" formControlName="displayName"></ion-input>
            </ion-item>
            <div *ngIf="formPerfilErrors.displayName" class="alert alert-danger" [innerHTML]="formPerfilErrors.displayName"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>Teléfono</ion-label>
              <ion-input type="text" formControlName="telefono"></ion-input>
            </ion-item>
            <div *ngIf="formPerfilErrors.telefono" class="alert alert-danger" [innerHTML]="formPerfilErrors.telefono"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>Número de Kit</ion-label>
              <ion-input type="number" formControlName="nroKit"></ion-input>
            </ion-item>
            <div *ngIf="formPerfilErrors.nroKit" class="alert alert-danger" [innerHTML]="formPerfilErrors.nroKit"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>Dirección</ion-label>
              <ion-input type="text" formControlName="direccion"></ion-input>
            </ion-item>
            <div *ngIf="formPerfilErrors.direccion" class="alert alert-danger" [innerHTML]="formPerfilErrors.direccion"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>Marca de estufa</ion-label>
              <ion-select (ionChange)="cambiaMarca($event)" formControlName="selectMarcaEstufa" interface="action-sheet" cancelText="Descartar"
                okText="Aceptar">
                <ion-option *ngFor="let item of estufas" [value]="item.idEstufa">{{item.marca}}</ion-option>
              </ion-select>
              <div *ngIf="formPerfilErrors.selectMarcaEstufa" class="alert alert-danger" [innerHTML]="formPerfilErrors.selectMarcaEstufa"></div>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked>Modelo de estufa</ion-label>
              <ion-select interface="action-sheet" formControlName="selectModeloEstufa" cancelText="Descartar" okText="Aceptar" [disabled]="blokModel">
                <ion-option *ngFor="let item of modelosEstufas" [value]="item.idModeloEstufa">{{item.modelo}}</ion-option>
              </ion-select>
              <div *ngIf="formPerfilErrors.selectModeloEstufa" class="alert alert-danger" [innerHTML]="formPerfilErrors.selectModeloEstufa"></div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>Cantidad de personas que viven en la casa</ion-label>
              <ion-input type="number" formControlName="nroCohabitantes" min="1" max="20"></ion-input>
            </ion-item>
            <div *ngIf="formPerfilErrors.nroCohabitantes" class="alert alert-danger" [innerHTML]="formPerfilErrors.nroCohabitantes"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="header-list inter">Promedio compra de leña:</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>Cantidad en M³</ion-label>
              <ion-input type="number" formControlName="cantPromM3" min="1" max="30"></ion-input>
            </ion-item>
            <div *ngIf="formPerfilErrors.cantPromM3" class="alert alert-danger" [innerHTML]="formPerfilErrors.cantPromM3"></div>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked>Período en meses</ion-label>
              <!-- <ion-input type="number" formControlName="cantPromMeses" min="1" max="36"></ion-input> -->
              <ion-select interface="action-sheet" formControlName="selectCantPromMeses" cancelText="Descartar" okText="Aceptar">
                <ion-option value="1">1</ion-option>
                <ion-option value="3">3</ion-option>
                <ion-option value="6">6</ion-option>
                <ion-option value="12">12</ion-option>
                <ion-option value="24">24</ion-option>
                <ion-option value="36">36</ion-option>
              </ion-select>
              <div *ngIf="formPerfilErrors.selectCantPromMeses" class="alert alert-danger" [innerHTML]="formPerfilErrors.selectCantPromMeses"></div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div padding-top text-center>
              <button ion-button block (click)="onPerfilValueChanged()" [attr.disabled]="!loadingReg ? null : true">Guardar y continuar</button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </form>
</ion-content>