<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mantención del filtro</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding class="mantencion">
  <ion-row text-center class="info">
    <ion-col>
      <h2>La próxima mantención es en: <span>{{tMantencion}}</span></h2>
      <p>{{notificacionMantencion}}</p>
      <img src="assets/img/mantencion.png" />
      <p>Es importante que estés al tanto sobre los plazos mantención de filtro. Esto permitirá optimizar su uso y extender su ciclo de vida.</p>
    </ion-col>
  </ion-row>
  <ion-row text-center>
    <ion-col>
      <button ion-button block (click)="realizarMantencion()">Ya he realizado la mantención del filtro</button>
      <button ion-button small clear (click)="goTutorial()">¿Cómo hago la mantención?</button>
    </ion-col>
  </ion-row>
</ion-content>