<ion-header>
    <ion-navbar>
        <button ion-button menuToggle *ngIf="showBtMenu">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Registrarse</ion-title>
        <ion-buttons end *ngIf="showBtHome">
            <bt-logo></bt-logo>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid class="grid-form">
        <!-- <ion-row>
            <ion-col padding text-center col-8 offset-2>
                <p><button ion-button block>Usar Facebook</button></p>
                <p hidden><button ion-button block>Usar Google</button></p>
            </ion-col>
        </ion-row> -->
        <form *ngIf="mostrarForm" [formGroup]="registerForm" class="no-margin" (ngSubmit)="registerForm.valid && onSubmitRegister()"
            novalidate>
            <ion-row>
                <ion-col>
                    <h2 class="header-list">Crear un nuevo usuario con tu correo:</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label stacked>Nombre y apellido</ion-label>
                        <ion-input type="text" formControlName="displayName"></ion-input>
                    </ion-item>
                    <div *ngIf="formRegisterErrors.displayName" class="alert alert-danger" [innerHTML]="formRegisterErrors.displayName"></div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label stacked>Correo electrónico</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                    <div *ngIf="formRegisterErrors.email" class="alert alert-danger" [innerHTML]="formRegisterErrors.email">
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label stacked>Contraseña</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <div *ngIf="formRegisterErrors.password" class="alert alert-danger" [innerHTML]="formRegisterErrors.password">
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label stacked>Repetir contraseña</ion-label>
                        <ion-input type="password" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                    <div *ngIf="formRegisterErrors.confirmPassword" class="alert alert-danger" [innerHTML]="formRegisterErrors.confirmPassword">
                    </div>
                </ion-col>
            </ion-row>
            <ion-row> 
                <ion-col padding-top text-center>
                    <button (click)="onRegisterValueChanged()" [attr.disabled]="!loadingReg ? null : true"  ion-button block>Registrarse</button>
                    <button ion-button small clear (click)="goLogin()">¡Ya tengo un usuario!</button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>