<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding>
  <ion-card margin-vertical class="cardPerfil">
    <ion-card-content class="ofHidden">
      <div class="datos">
        <h1>{{perfil?.DisplayName}}</h1>
        <!-- <p>Usuario Básico</p> -->
        <h2>Kit N° {{perfil?.nroKit}}</h2>
        <p>{{dias_uso_filtro}} días de uso</p>
      </div>
      <div class="image">
        <ion-icon [name]="iconLevel"></ion-icon>
      </div>
    </ion-card-content>
    <ion-row class="actions">
      <ion-col text-center col-2 offset-10 no-padding>
        <button ion-button clear>
          <ion-icon name='create' (click)="goDatos()"></ion-icon>
        </button>
      </ion-col>
      <!-- <ion-col text-right col-2 no-padding>
        <button ion-button clear icon-start>
          <ion-icon name='share-alt'></ion-icon>
        </button>
      </ion-col> -->
    </ion-row>
  </ion-card>
  <ion-card margin-vertical class="cardHome" (click)="goLogros()">
    <ion-card-content class="ofHidden">
      <div class="iconCircle">
        <ion-icon name="trophy"></ion-icon>
      </div>
      <div class="content">
        <h2 class="title">Logros</h2>
        <p class="info">Ver los logros obtenidos</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card margin-vertical class="cardHome" (click)="goMantencion()">
    <ion-card-content class="ofHidden">
      <div class="iconCircle">
        <ion-icon name="build"></ion-icon>
      </div>
      <div class="content">
        <h2 class="title">Mantención del filtro</h2>
        <p class="info">Faltan {{tMantencion}} días</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-row class="grafHome">
    <ion-col>
      <h3>Calidad de Combustión</h3>
      <!-- <div id="chartCombustionHome"></div> -->
      <h1>
        <ion-icon id="iconCalidadCombustion" name="ios-time"></ion-icon>
        <span id="msgCalidadCombustion"></span>
      </h1>
    </ion-col>
  </ion-row>
</ion-content>