<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="showBtMenu">
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{compras_title}}</ion-title>
    <ion-buttons end *ngIf="showBtHome">
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding>
  <form>
    <ion-grid class="grid-form">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Leña</ion-label>
            <ion-select interface="action-sheet" cancelText="Descartar" okText="Aceptar">
              <ion-option *ngFor="let item of origen" [value]="item.Id">{{item.Nombre}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Cantidad en M³</ion-label>
            <ion-input type="number" min="1" max="30"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Proveedor</ion-label>
            <ion-select>
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
              <ion-option value="3">3</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Precio</ion-label>
            <ion-input type="number" min="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Porcentaje de humedad</ion-label>
            <ion-range min="0" max="100" [(ngModel)]="humedad" [ngModelOptions]="{standalone: true}" [disabled]="blokHumedad">
              <ion-label range-right>{{humedad}}</ion-label>
            </ion-range>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col padding-bottom>
          <ion-item>
            <ion-label>No sé el porcentaje de humedad</ion-label>
            <ion-checkbox [(ngModel)]="blokHumedad" [ngModelOptions]="{standalone: true}"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col padding-top text-center>
          <button ion-button block (click)="goTips()">Guardar y continuar</button>
          <button ion-button small clear (click)="goTips()">Agregar compra después</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>