<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alertas</ion-title>
    <ion-buttons end>
      <bt-logo></bt-logo>
    </ion-buttons>
  </ion-navbar>
  <alerta></alerta>
</ion-header>

<ion-content padding class="alertas">
  <ion-card class="alerta" (click)="showAlert()">
    <ion-card-content>
      <ion-icon name="alert"></ion-icon>
      <div>
        <h2>Alerta <span>5:09 PM</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="alerta" (click)="showAlert()">
    <ion-card-content>
      <ion-icon name="alert"></ion-icon>
      <div>
        <h2>Alerta <span>4:32 PM</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="info" (click)="showAlert()">
    <ion-card-content>
      <ion-icon name="information-circle"></ion-icon>
      <div>
        <h2>Notificación <span>7:18 PM</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="info" (click)="showAlert()">
    <ion-card-content>
      <ion-icon name="information-circle"></ion-icon>
      <div>
        <h2>Notificación <span>5:23 PM</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
